.header{
    
   background-color: plum;
}
.banner{
    background-color: rgb(233, 198, 233);
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;

}
.banner .pro-pic{
    
    width: 635px;
height: 700px;
flex-shrink: 0;


}
.banner .banner-title{
    font-size: 60px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
.btn{
    border-radius: 5px;
    color: white;
    background-color: palevioletred;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* Featured*/

.featured{
    padding: 130px;
    border-radius: 10px;

}
.section-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.main{
    display: flex;
   justify-content: center;
   margin: 10px;
   
}


.rec{
display: flex;
width: 400px;
height: 500px;
margin: 10px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(0, 0, 0, 0.15);

}
.ime{
    width: 50%;
    margin: 20px;
     flex-shrink: 0;

background: url(<path-to-image>), cover no-repeat;
}

.color{
    color: palevioletred;
}

.aatext{
    display: flex;
    justify-content: center;
}
.text{
    margin: 90px;
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}


.im{
    width: 50%;
    margin: 20px;

flex-shrink: 0;

}

.deall{
    display: flex;
    justify-content: center;


}
.am{
    display: flex;
    justify-content: center;

}

.last{
    padding: 130px;
    
    background-color:black;
}
.las{
    color:white;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.lass{
    color: white;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/*newsec*/

.new{
    background-color: paleturquoise;
    
}

.ne{
    color:white;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.nej{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}



